<template>
    <app-layout>
        <div class="card m-4 card-restaurantes">
            <div class="card-body p-5">
                <div class="mb-5 d-flex justify-content-between align-items-end">
                    <h2 class="text-muted" v-if="zonasEntregasCreate">
                        Crear Zona de Entrega
                    </h2>
                    <h2 class="text-muted" v-if="zonasEntregasEdit">
                        Editar Zona de Entrega
                    </h2>
                    <h4 class="text-muted">
                        {{
                            zonasEntregasEdit
                                ? zonasEntregasEdit.nombre
                                : zonasEntregasCreate.nombre
                        }}
                    </h4>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label required">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="form.nombre" maxlength="50"/>
                        <small class="invalid-feedback d-block" v-if="submitted && !$v.form.nombre.required">Por favor ingrese un nombre de restaurante</small>
                        <small class="invalid-feedback d-block" v-if="!$v.form.nombre.minLength">Por favor, ingrese un valor, entre 1 y 50 digítos</small>
                        <small class="invalid-feedback d-block" v-if="!$v.form.nombre.maxLength">Por favor, ingrese un valor, entre 1 y 50 digítos</small>
                        <div class="text-danger" v-if="errors.nombre">
                            {{ errors.nombre }}
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label required"
                    >Linea Perimetral</label
                    >
                    <div class="col-sm-10 d-flex align-items-center">
                        <div>
                            <a href="#" data-toggle="modal" data-target="#mapaModal">
                                <span v-if="coors">Editar Zona</span>
                                <span v-else>Asignar Zona</span>
                            </a>
                            <div class="text-danger" v-if="errors.zona_perimetral">
                                {{ errors.zona_perimetral }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label required">Costo Envío</label>
                    <div class="col-sm-10">
                        <input
                            type="text"
                            class="form-control"
                            v-model="form.costo_envio"
                            minlength="1" maxlength="12"
                        />
                        <small class="invalid-feedback d-block" v-if="submitted && !$v.form.costo_envio.required">Por favor ingrese un costo de envío</small>
                        <small class="invalid-feedback d-block" v-if="!$v.form.costo_envio.minLength">Por favor, ingrese un valor, entre 1 y 12 digítos</small>
                        <small class="invalid-feedback d-block" v-if="!$v.form.costo_envio.maxLength">Por favor, ingrese un valor, entre 1 y 12 digítos</small>
                        <small class="invalid-feedback d-block" v-if="!$v.form.costo_envio.decimal">Por favor, ingrese solo números</small>
                        <small class="invalid-feedback d-block" v-if="errors.costo_envio">
                            {{ errors.costo_envio }}
                        </small>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label required">Compra Mínima</label>
                    <div class="col-sm-10">
                        <input
                            type="text"
                            class="form-control"
                            v-model="form.compra_minima"
                            maxlength="12"
                            minlength="1"
                        />
                        <small class="invalid-feedback d-block" v-if="submitted && !$v.form.compra_minima.required">Por favor ingrese un costo compra mínima</small>
                        <small class="invalid-feedback d-block" v-if="!$v.form.compra_minima.minLength">Por favor, ingrese un valor, entre 1 y 12 digítos</small>
                        <small class="invalid-feedback d-block" v-if="!$v.form.compra_minima.maxLength">Por favor, ingrese un valor, entre 1 y 12 digítos</small>
                        <small class="invalid-feedback d-block" v-if="!$v.form.compra_minima.decimal">Por favor, ingrese solo números</small>
                        <div class="text-danger" v-if="errors.compra_minima">
                            {{ errors.compra_minima }}
                        </div>


                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label required"
                    >Tiempo Traslado</label
                    >
                    <div class="col-sm-10">
                        <input
                            type="text"
                            class="form-control"
                            v-model="form.tiempo_traslado"
                            min="1" max="3"
                        />
                        <small class="invalid-feedback d-block" v-if="submitted && !$v.form.tiempo_traslado.required">Por favor ingrese el tiempo de traslado, en minutos</small>
                        <small class="invalid-feedback d-block" v-if="!$v.form.tiempo_traslado.minLength">Por favor, ingrese un valor mínimo 1 digíto</small>
                        <small class="invalid-feedback d-block" v-if="!$v.form.tiempo_traslado.maxLength">Por favor, ingrese un valor máximo 3 digíto</small>
                        <small class="invalid-feedback d-block" v-if="!$v.form.tiempo_traslado.numeric">Por favor, ingrese solo números</small>
                        <small class="invalid-feedback d-block" v-if="errors.tiempo_traslado">
                            {{ errors.tiempo_traslado }}
                        </small>
                    </div>
                </div>
            </div>

            <div class="row pb-4 m-2">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-2">
                    <button
                        class="btn btn-block btn-crear mr-1"
                        v-if="zonasEntregasCreate"
                        @click="crearZona"
                    >
                        <i class="fas fa-save"></i>
                        Guardar
                    </button>
                    <button
                        class="btn btn-block btn-crear mr-1"
                        v-if="zonasEntregasEdit"
                        @click="actualizarZona"
                    >
                        <i class="fas fa-sync-alt"></i>
                        Guardar
                    </button>
                </div>
                <div class="col-md-2">
                    <inertia-link
                        class="btn btn-block btn-light mr-1"
                        :href="route('zonasentregas.index')"
                    ><i class="fas fa-times mr-2"></i>
                        Cancelar
                    </inertia-link>
                </div>
            </div>
        </div>

        <!-- Modal Maps -->
        <div class="modal fade" id="mapaModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div
                        :class="[
              'modal-body p-0',
              c_position
                ? ''
                : 'd-flex align-items-center justify-content-center',
            ]"
                    >
                        <div id="map"></div>
                        <div
                            class="d-flex align-items-center justify-content-center"
                            v-if="!c_position"
                        >
                            <span class="spinner-border spinner-border-sm mr-2"></span>
                            <small>Estamos ubicando tu posicion actual...</small>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="text-center">
                            <div class="mb-2">
                                <small>Seleccione un color de zona:</small>
                                <input
                                    type="color"
                                    class="form-control form-control-sm"
                                    v-model="form.color"
                                />
                            </div>

                            <div v-if="c_position">
                                <button
                                    class="btn btn-link"
                                    :disabled="coors ? false : true"
                                    data-dismiss="modal"
                                >
                                    Guardar zona de entrega
                                </button>
                                <br/>
                                <small>
                                    Por favor, dibuja en el mapa, la zona de entrega, y luego
                                    presiona la opcion
                                    <span class="text-primary">Guardar zona de entrega</span>
                                </small>
                            </div>
                            <div v-else>
                                <small
                                >Por favor, recuerda dar los permisos necesarios al navegador,
                                    para hacer uso del gps</small
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
import AppLayout from "../../Layouts/AppLayout";
import mapboxgl from "mapbox-gl";
import {required, minLength, maxLength, numeric, decimal, helpers, minValue, maxValue} from 'vuelidate/lib/validators';


mapboxgl.accessToken =
    "pk.eyJ1Ijoic2ViYXN0aWFucjkyIiwiYSI6ImNraTk3ZTd0bDA1OHgydW14bGc1bWU1eG4ifQ.SOyxag8YcCm3LnH7xKkJCA";

export default {
    components: {
        AppLayout,
    },
    props: {zonasEntregasEdit: "", zonasEntregasCreate: "", errors: Object},
    data() {
        return {
            form: {
                nombre: "",
                costo_envio: "",
                compra_minima: "",
                tiempo_traslado: "",
                color: "#983e3e",
                id_restaurante: null,
            },
            c_position: false,
            coors: "",
            submitted: false
        };
    },
    mounted() {
        /* Funcioines Mapbox */
        navigator.geolocation.getCurrentPosition((e) => {
            let c_latitude = e.coords.latitude;
            let c_longitude = e.coords.longitude;
            let zona_coors = [];

            this.c_position = true;

            if (this.zonasEntregasEdit && this.zonasEntregasEdit.coordenadas.length) {
                this.zonasEntregasEdit.coordenadas.forEach((coor) => {
                    zona_coors.push([
                        parseFloat(coor.latitud),
                        parseFloat(coor.longitud),
                    ]);
                });

                this.coors = zona_coors;
            }

            this.mapBox(c_longitude, c_latitude, zona_coors);
        });

        // Se asignan los valores obtenidos, de la categoria a modificar
        if (this.zonasEntregasEdit) {
            this.form.nombre = this.zonasEntregasEdit.nombre;
            this.form.costo_envio = this.zonasEntregasEdit.costo_envio;
            this.form.compra_minima = this.zonasEntregasEdit.compra_minima;
            this.form.tiempo_traslado = this.zonasEntregasEdit.tiempo_traslado;
            this.form.id_restaurante = this.zonasEntregasEdit.id_restaurante;
            this.form.color = this.zonasEntregasEdit.color;
        }

        // Se asigna el id del restaurante, a la categoria a crear
        if (this.zonasEntregasCreate) {
            this.form.id_restaurante = this.zonasEntregasCreate.id;
        }
    },
    methods: {
        crearZona() {
            this.submitted = true;
            if (this.$v.$invalid) {
                Swal.fire(
                    "Error!",
                    "Por favor, complete los campos mencionados en el formulario",
                    "error"
                );
                return false;
            }
            let url = route("zonasentregas.store");

            this.$inertia.post(
                url,
                {form: this.form, coors: this.coors},
                {
                    onSuccess: (res) => {
                        if (Object.keys(res.props.errors).length) {
                            Swal.fire(
                                "Error!",
                                "Por favor, complete los campos mencionados en el formulario",
                                "error"
                            );
                        } else {
                            Swal.fire(
                                this.form.nombre,
                                "Ha sido creada exitosamente",
                                "success"
                            );
                        }
                    },
                }
            );
        },
        actualizarZona() {
            if (this.$v.$invalid) {
                Swal.fire(
                    "Error!",
                    "Por favor, complete los campos mencionados en el formulario",
                    "error"
                );
                return false;
            }
            let url = route("zonasentregas.update", this.zonasEntregasEdit.id);
            this.$inertia.put(
                url,
                {form: this.form, coors: this.coors},
                {
                    onSuccess: (res) => {
                        if (Object.keys(res.props.errors).length) {
                            Swal.fire(
                                "Error",
                                "Por favor, complete los campos requeridos",
                                "error"
                            );
                        } else {
                            Swal.fire(
                                this.form.nombre,
                                "Ha sido actualizada exitosamente",
                                "success"
                            );
                        }
                    },
                }
            );
        },
        mapBox(c_longitude, c_latitude, zona_coors) {
            var map = new mapboxgl.Map({
                container: "map", // container id
                style: "mapbox://styles/mapbox/streets-v11", //hosted style id
                center: [c_longitude, c_latitude], // starting position
                zoom: 16, // starting zoom
            });

            var draw = new MapboxDraw({
                displayControlsDefault: false,
                controls: {
                    polygon: true,
                    trash: true,
                },
                styles: [
                    {
                        id: "gl-draw-polygon-fill-inactive",
                        type: "fill",
                        filter: [
                            "all",
                            ["==", "active", "false"],
                            ["==", "$type", "Polygon"],
                            ["!=", "mode", "static"],
                        ],
                        paint: {
                            "fill-color": this.form.color,
                            "fill-outline-color": "#3bb2d0",
                            "fill-opacity": 0.3,
                        },
                    },
                    {
                        id: "gl-draw-polygon-fill-active",
                        type: "fill",
                        filter: [
                            "all",
                            ["==", "active", "true"],
                            ["==", "$type", "Polygon"],
                        ],
                        paint: {
                            "fill-color": this.form.color,
                            "fill-outline-color": "#fbb03b",
                            "fill-opacity": 0.3,
                        },
                    },
                    {
                        id: "gl-draw-polygon-midpoint",
                        type: "circle",
                        filter: [
                            "all",
                            ["==", "$type", "Point"],
                            ["==", "meta", "midpoint"],
                        ],
                        paint: {
                            "circle-radius": 3,
                            "circle-color": "#fbb03b",
                        },
                    },
                    {
                        id: "gl-draw-polygon-stroke-inactive",
                        type: "line",
                        filter: [
                            "all",
                            ["==", "active", "false"],
                            ["==", "$type", "Polygon"],
                            ["!=", "mode", "static"],
                        ],
                        layout: {
                            "line-cap": "round",
                            "line-join": "round",
                        },
                        paint: {
                            "line-color": "#3bb2d0",
                            "line-width": 2,
                        },
                    },
                    {
                        id: "gl-draw-polygon-stroke-active",
                        type: "line",
                        filter: [
                            "all",
                            ["==", "active", "true"],
                            ["==", "$type", "Polygon"],
                        ],
                        layout: {
                            "line-cap": "round",
                            "line-join": "round",
                        },
                        paint: {
                            "line-color": "#fbb03b",
                            "line-dasharray": [0.2, 2],
                            "line-width": 2,
                        },
                    },
                    {
                        id: "gl-draw-line-inactive",
                        type: "line",
                        filter: [
                            "all",
                            ["==", "active", "false"],
                            ["==", "$type", "LineString"],
                            ["!=", "mode", "static"],
                        ],
                        layout: {
                            "line-cap": "round",
                            "line-join": "round",
                        },
                        paint: {
                            "line-color": "#3bb2d0",
                            "line-width": 2,
                        },
                    },
                    {
                        id: "gl-draw-line-active",
                        type: "line",
                        filter: [
                            "all",
                            ["==", "$type", "LineString"],
                            ["==", "active", "true"],
                        ],
                        layout: {
                            "line-cap": "round",
                            "line-join": "round",
                        },
                        paint: {
                            "line-color": "#fbb03b",
                            "line-dasharray": [0.2, 2],
                            "line-width": 2,
                        },
                    },
                    {
                        id: "gl-draw-polygon-and-line-vertex-stroke-inactive",
                        type: "circle",
                        filter: [
                            "all",
                            ["==", "meta", "vertex"],
                            ["==", "$type", "Point"],
                            ["!=", "mode", "static"],
                        ],
                        paint: {
                            "circle-radius": 5,
                            "circle-color": "#fff",
                        },
                    },
                    {
                        id: "gl-draw-polygon-and-line-vertex-inactive",
                        type: "circle",
                        filter: [
                            "all",
                            ["==", "meta", "vertex"],
                            ["==", "$type", "Point"],
                            ["!=", "mode", "static"],
                        ],
                        paint: {
                            "circle-radius": 3,
                            "circle-color": "#fbb03b",
                        },
                    },
                    {
                        id: "gl-draw-point-point-stroke-inactive",
                        type: "circle",
                        filter: [
                            "all",
                            ["==", "active", "false"],
                            ["==", "$type", "Point"],
                            ["==", "meta", "feature"],
                            ["!=", "mode", "static"],
                        ],
                        paint: {
                            "circle-radius": 5,
                            "circle-opacity": 1,
                            "circle-color": "#fff",
                        },
                    },
                    {
                        id: "gl-draw-point-inactive",
                        type: "circle",
                        filter: [
                            "all",
                            ["==", "active", "false"],
                            ["==", "$type", "Point"],
                            ["==", "meta", "feature"],
                            ["!=", "mode", "static"],
                        ],
                        paint: {
                            "circle-radius": 3,
                            "circle-color": "#3bb2d0",
                        },
                    },
                    {
                        id: "gl-draw-point-stroke-active",
                        type: "circle",
                        filter: [
                            "all",
                            ["==", "$type", "Point"],
                            ["==", "active", "true"],
                            ["!=", "meta", "midpoint"],
                        ],
                        paint: {
                            "circle-radius": 7,
                            "circle-color": "#fff",
                        },
                    },
                    {
                        id: "gl-draw-point-active",
                        type: "circle",
                        filter: [
                            "all",
                            ["==", "$type", "Point"],
                            ["!=", "meta", "midpoint"],
                            ["==", "active", "true"],
                        ],
                        paint: {
                            "circle-radius": 5,
                            "circle-color": "#fbb03b",
                        },
                    },
                    {
                        id: "gl-draw-polygon-fill-static",
                        type: "fill",
                        filter: [
                            "all",
                            ["==", "mode", "static"],
                            ["==", "$type", "Polygon"],
                        ],
                        paint: {
                            "fill-color": "#404040",
                            "fill-outline-color": "#404040",
                            "fill-opacity": 0.1,
                        },
                    },
                    {
                        id: "gl-draw-polygon-stroke-static",
                        type: "line",
                        filter: [
                            "all",
                            ["==", "mode", "static"],
                            ["==", "$type", "Polygon"],
                        ],
                        layout: {
                            "line-cap": "round",
                            "line-join": "round",
                        },
                        paint: {
                            "line-color": "#404040",
                            "line-width": 2,
                        },
                    },
                    {
                        id: "gl-draw-line-static",
                        type: "line",
                        filter: [
                            "all",
                            ["==", "mode", "static"],
                            ["==", "$type", "LineString"],
                        ],
                        layout: {
                            "line-cap": "round",
                            "line-join": "round",
                        },
                        paint: {
                            "line-color": "#404040",
                            "line-width": 2,
                        },
                    },
                    {
                        id: "gl-draw-point-static",
                        type: "circle",
                        filter: ["all", ["==", "mode", "static"], ["==", "$type", "Point"]],
                        paint: {
                            "circle-radius": 5,
                            "circle-color": "#404040",
                        },
                    },

                    // end default themes provided by MB Draw
                    // end default themes provided by MB Draw
                    // end default themes provided by MB Draw
                    // end default themes provided by MB Draw

                    // new styles for toggling colors
                    // new styles for toggling colors
                    // new styles for toggling colors
                    // new styles for toggling colors

                    {
                        id: "gl-draw-polygon-color-picker",
                        type: "fill",
                        filter: [
                            "all",
                            ["==", "$type", "Polygon"],
                            ["has", "user_portColor"],
                        ],
                        paint: {
                            "fill-color": ["get", "user_portColor"],
                            "fill-outline-color": ["get", "user_portColor"],
                            "fill-opacity": 0.5,
                        },
                    },
                    {
                        id: "gl-draw-line-color-picker",
                        type: "line",
                        filter: [
                            "all",
                            ["==", "$type", "LineString"],
                            ["has", "user_portColor"],
                        ],
                        paint: {
                            "line-color": ["get", "user_portColor"],
                            "line-width": 2,
                        },
                    },
                    {
                        id: "gl-draw-point-color-picker",
                        type: "circle",
                        filter: [
                            "all",
                            ["==", "$type", "Point"],
                            ["has", "user_portColor"],
                        ],
                        paint: {
                            "circle-radius": 3,
                            "circle-color": ["get", "user_portColor"],
                        },
                    },
                ],
            });

            map.addControl(draw);

            // Se agregan las coordenadas al crear un lienzo
            map.on("draw.create", () => {
                const data = draw.getAll();
                this.coors = data.features[0].geometry.coordinates[0];
            });

            // Se actualizan las coordenadas al actualizar el lienzo
            map.on("draw.update", () => {
                const data = draw.getAll();
                this.coors = data.features[0].geometry.coordinates[0];
            });

            // Se eliminan las coordenadas al eliminar el lienzo
            map.on("draw.delete", () => {
                this.coors = "";
            });

            if (zona_coors.length) {
                draw.add({
                    type: "Polygon",
                    coordinates: [zona_coors],
                });
            }
        },
    },
    watch: {
        coors() {
            if (this.coors && this.coors.length) {
                document
                    .querySelector(".mapbox-gl-draw_polygon")
                    .setAttribute("disabled", true);
            } else {
                document
                    .querySelector(".mapbox-gl-draw_polygon")
                    .removeAttribute("disabled");
            }
        },
    },
    validations: {

        form: {
            nombre: {
                required,
                minLength: minLength(1),
                maxLength: maxLength(50),
            },
            costo_envio: {
                required,
                decimal: helpers.regex('decimal', /^[0-9]+(\.[0-9]{1,2})?$/),
                minLength: minLength(1),
                maxLength: maxLength(12),
            },
            compra_minima: {
                required,
                decimal: helpers.regex('decimal', /^[0-9]+(\.[0-9]{1,2})?$/),
                minLength: minLength(1),
                maxLength: maxLength(13),
            },
            tiempo_traslado: {
                required,
                numeric,
                minLength: minLength(1),
                maxLength: maxLength(3),
            },
            color: "#983e3e",
            id_restaurante: {

            },
        },
    }
};
</script>

<style scoped>
.modal-dialog {
    width: 400px;
}

.modal-footer {
    margin: 0 auto;
}

.btn-light {
    background: #efefef !important;
}

.required:after {
    content: "*";
    color: #f97a74;
    margin-left: 5px;
}
</style>
