<template>
  <app-layout>
    <div class="card m-4 card-restaurantes">
      <div class="card-body">
        <h1>Horarios</h1>
        <!-- Buscador Restaurantes -->
        <div class="w-25 my-4">
          <v-select
            placeholder="Seleccione un restaurante"
            label="nombre"
            :options="restaurantes"
            @input="restauranteDias"
          ></v-select>
        </div>

        <!-- Checkboxes Dias -->
        <table class="table table-borderless">
          <thead>
            <tr>
              <th class="pl-0">Dias</th>
              <th>Hora</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(dia, index) in dias_semana" :key="index">
              <td class="pl-0">
                <div class="custom-control custom-switch">
                  <input
                    type="checkbox"
                    class="custom-control-input"
                    :disabled="!dia.id_restaurante"
                    :id="index"
                    v-model="dias_semana[index].check"
                  />
                  <label class="custom-control-label" :for="index">{{
                    dia.dia
                  }}</label>
                </div>
              </td>
              <td>
                <div class="row w-50">
                  <div class="col-6">
                    <div class="d-flex align-items-center">
                      <span class="mr-2">De:</span>
                      <date-picker
                        :class="{
                          error:
                            !dias_semana[index].hora_i &&
                            dias_semana[index].check,
                        }"
                        v-model="dias_semana[index].hora_i"
                        :disabled="!dia.check"
                        :time-picker-options="{
                          start: '00:00',
                          step: '00:30',
                          end: '24:00',
                        }"
                        format="HH:mm"
                        value-type="HH:mm"
                        type="time"
                        placeholder="HH:mm"
                      ></date-picker>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="d-flex align-items-center">
                      <span class="mr-2">A:</span>
                      <date-picker
                        :class="{
                          error:
                            !dias_semana[index].hora_f &&
                            dias_semana[index].check,
                        }"
                        v-model="dias_semana[index].hora_f"
                        :disabled="!dia.check"
                        :time-picker-options="{
                          start: '00:00',
                          step: '00:30',
                          end: '24:00',
                        }"
                        format="HH:mm"
                        value-type="HH:mm"
                        type="time"
                        placeholder="HH:mm"
                      ></date-picker>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex flex-row-reverse mr-5 mb-5">
        <button
          class="btn btn-crear"
          @click="guardarHorario"
          :disabled="is_disabled"
        >
          <i class="fas fa-save"></i>
          Guardar
        </button>
      </div>
    </div>
  </app-layout>
</template>

<script>
import AppLayout from "../../Layouts/AppLayout";
import DatePicker from "vue2-datepicker";
import "vue2-datepicker/index.css";

export default {
  components: { AppLayout, DatePicker },
  props: {
    restaurantes: "",
    dias: "",
    errors: Object,
  },
  data() {
    return {
      dias_semana: [],
      is_disabled: true,
    };
  },
  mounted() {
    this.dias_semana = JSON.parse(JSON.stringify(this.dias));
  },
  methods: {
    restauranteDias(restaurante) {
      // Se reinicia el arreglo (dias_semana)
      this.dias_semana = JSON.parse(JSON.stringify(this.dias));

      // Se inhabilita el boton de guardar
      this.is_disabled = true;

      // Se valida si se ha seleccionado un restaurante previamente
      if (restaurante) {
        // Se habilita el boton de guardar, si se seleccina un restaurante
        this.is_disabled = false;

        // Se asigna el id del restaurante seleccionado en el arreglo dias_semana
        this.dias_semana.forEach((dia) => {
          dia.id_restaurante = restaurante.id;
        });

        // Se valida si el restaurante seleccionado, tiene horarios creados
        if (restaurante.horarios.length) {
          restaurante.horarios.forEach((r_dia) => {
            // Se obtiene el index del dia de la semana
            let index = this.dias_semana.findIndex(
              (dia) => dia.id_dia_semana == r_dia.id_dia_semana
            );

            // Se asignan los valores del restaurante seleccionado en los dias de la semana
            this.dias_semana[index].check = true;
            this.dias_semana[index].hora_i = r_dia.hora_inicio;
            this.dias_semana[index].hora_f = r_dia.hora_fin;
          });
        }
      }
    },
    guardarHorario() {
      let url = route("horarios.store");

      this.$inertia.post(url, this.dias_semana, {
        onSuccess: (res) => {
          if (Object.keys(this.errors).length) {
            Swal.fire(
              "Error!",
              "Por favor, complete la informacion solicitada",
              "error"
            );
          } else if (res.props.answers) {
            Swal.fire(
              "Error!",
              "Por favor, verifica que los horarios sean correctos",
              "error"
            );
          } else {
            Swal.fire(
              "Exito!",
              "Se han guardado los cambios exitosamente",
              "success"
            );
          }
        },
      });
    },
  },
};
</script>

<style scoped>
.error {
  border: 1px solid red;
  border-radius: 4px;
}
</style>