<template>
  <app-layout>
    <div class="card m-4 card-restaurantes">
      <div class="card-body">
        <div class="mb-5 d-flex justify-content-between align-items-end">
          <h2 class="text-muted" v-if="edit == false">Crear Restaurante</h2>
          <h2 class="text-muted" v-if="edit == true">Editar Restaurante</h2>
          <h4 class="text-muted">
            {{ edit ? restaurante.nombre : "Nuevo Restaurante" }}
          </h4>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label class="required">Nombre:</label>
              <input
                type="text"
                class="form-control"
                v-model="form.nombre"
                maxlength="50"
              />
              <small
                class="invalid-feedback d-block"
                v-if="submitted && !$v.form.nombre.required"
                >Por favor ingrese un nombre de restaurante</small
              >
              <small
                class="invalid-feedback d-block"
                v-if="!$v.form.nombre.minLength"
                >Por favor, ingrese un valor, entre 1 y 50 digítos</small
              >
              <small
                class="invalid-feedback d-block"
                v-if="!$v.form.nombre.maxLength"
                >Por favor, ingrese un valor, entre 1 y 50 digítos</small
              >
              <small class="invalid-feedback d-block" v-if="errors.nombre">
                {{ errors.nombre }}
              </small>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label class="required">Teléfono</label>
              <input
                type="tel"
                class="form-control"
                maxlength="15"
                v-model="form.telefono"
              />
              <small
                class="invalid-feedback d-block"
                v-if="submitted && !$v.form.telefono.required"
                >Por favor ingrese, el teléfono del restaurante</small
              >
              <small
                class="invalid-feedback d-block"
                v-if="!$v.form.telefono.minLength"
                >Por favor, ingrese un valor, entre 1 y 15 digítos</small
              >
              <small
                class="invalid-feedback d-block"
                v-if="!$v.form.telefono.maxLength"
                >Por favor, ingrese un valor, entre 1 y 15 digítos</small
              >
              <small class="invalid-feedback d-block" v-if="errors.telefono">
                {{ errors.telefono }}
              </small>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label class="required">Contacto</label>
              <input
                type="text"
                class="form-control"
                maxlength="30"
                v-model="form.contacto"
              />
              <small
                class="invalid-feedback d-block"
                v-if="submitted && !$v.form.contacto.required"
                >Por favor ingrese, el contacto del restaurante</small
              >
              <small
                class="invalid-feedback d-block"
                v-if="!$v.form.contacto.minLength"
                >Por favor, ingrese un valor, entre 1 y 30 digítos</small
              >
              <small
                class="invalid-feedback d-block"
                v-if="!$v.form.contacto.maxLength"
                >Por favor, ingrese un valor, entre 1 y 15 digítos</small
              >
              <small class="invalid-feedback d-block" v-if="errors.contacto">
                {{ errors.contacto }}
              </small>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label class="required">Email</label>
              <input
                type="email"
                class="form-control"
                maxlength="50"
                v-model="form.correo_electronico"
              />
              <small
                class="invalid-feedback d-block"
                v-if="!$v.form.correo_electronico.required"
                >Por favor ingrese, el correo del restaurante</small
              >
              <small
                class="invalid-feedback d-block"
                v-if="!$v.form.correo_electronico.email"
                >Por favor, ingrese un correo valido</small
              >
              <div class="text-danger" v-if="errors.correo_electronico">
                {{ errors.correo_electronico }}
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label class="required">Dirección</label>
              <input
                type="text"
                class="form-control"
                maxlength="150"
                v-model="form.direccion"
              />
              <small
                class="invalid-feedback d-block"
                v-if="submitted && !$v.form.direccion.required"
                >Por favor ingrese, la dirección del restaurante</small
              >
              <small
                class="invalid-feedback d-block"
                v-if="!$v.form.direccion.minLength"
                >Por favor, ingrese un valor, entre 1 y 150 digítos</small
              >
              <small
                class="invalid-feedback d-block"
                v-if="!$v.form.direccion.maxLength"
                >Por favor, ingrese un valor, entre 1 y 150 digítos</small
              >
              <small class="invalid-feedback d-block" v-if="errors.direccion">
                {{ errors.direccion }}
              </small>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label>RFC</label>
              <input
                type="text"
                class="form-control"
                maxlength="13"
                v-model="form.rfc"
              />
              <small
                class="invalid-feedback d-block"
                v-if="!$v.form.rfc.maxLength"
                >Por favor, ingrese un valor, entre 1 y 13 digítos</small
              >
              <small class="invalid-feedback d-block" v-if="errors.rfc">
                {{ errors.rfc }}
              </small>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label class="required">Descripción:</label>
              <textarea
                class="form-control"
                rows="3"
                maxlength="150"
                v-model="form.descripcion"
              ></textarea>
              <small
                class="invalid-feedback d-block"
                v-if="submitted && !$v.form.descripcion.required"
                >Por favor ingrese la descripción</small
              >
              <small
                class="invalid-feedback d-block"
                v-if="!$v.form.descripcion.minLength"
                >Por favor, ingrese un valor, entre 1 y 13 digítos</small
              >
              <small
                class="invalid-feedback d-block"
                v-if="!$v.form.descripcion.maxLength"
                >Por favor, ingrese un valor, entre 1 y 13 digítos</small
              >
              <small class="invalid-feedback d-block" v-if="errors.descripcion">
                {{ errors.descripcion }}
              </small>
            </div>
          </div>
          <div class="col-12">
            <!-- Carga de imagenes -->
            <div class="mb-4">
              <label class="required mb-3">Imagenes Restaurante:</label>

              <!-- Imagen Logo -->
              <div>
                <label class="custom-file">
                  <input
                    type="file"
                    accept="image/*"
                    @change="getImagen($event)"
                    style="display: none"
                  />
                  <span class="custom-option" v-if="!preview_logo"
                    >Seleccionar imagen logo</span
                  >
                  <span
                    class="custom-option"
                    v-if="preview_logo"
                    @click.prevent="showImagen('logo')"
                  >
                    Ver imagen logo
                  </span>
                </label>

                <!-- Eliminar imagen -->
                <a
                  href="#"
                  class="text-danger"
                  v-if="preview_logo"
                  @click.prevent="eliminarImagen('logo')"
                >
                  <i class="far fa-trash-alt"></i>
                </a>

                <!-- Mensaje de error -->
                <div class="text-danger" v-if="errors.imagen_logo">
                  {{ errors.imagen_logo }}
                </div>
              </div>

              <br />

              <!-- Imagen Fondo -->
              <div>
                <label class="custom-file">
                  <input
                    type="file"
                    accept="image/*"
                    @change="getImagen2($event)"
                    style="display: none"
                  />

                  <span class="custom-option" v-if="!preview_fondo"
                    >Seleccionar imagen fondo</span
                  >
                  <span
                    href="#"
                    class="custom-option"
                    v-if="preview_fondo"
                    @click.prevent="showImagen('fondo')"
                  >
                    Ver imagen fondo
                  </span>
                </label>
                <a
                  href="#"
                  class="text-danger"
                  v-if="preview_fondo"
                  @click.prevent="eliminarImagen('fondo')"
                >
                  <i class="far fa-trash-alt"></i>
                </a>
                <div
                  class="text-danger"
                  v-if="errors.imagen_fondo_aplicacion_movil"
                >
                  {{ errors.imagen_fondo_aplicacion_movil }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-right border-0">
        <button
          class="btn btn-crear mr-1"
          v-if="edit == false"
          @click="guardarRestaurante"
        >
          <i class="fas fa-save"></i>
          Guardar
        </button>
        <button
          class="btn btn-crear mr-1"
          v-if="edit == true"
          @click="actualizarRestaurante"
        >
          <i class="fas fa-edit"></i>
          Editar
        </button>
        <inertia-link class="btn btn-light" :href="route('restaurantes.index')">
          <i class="fas fa-times mr-2"></i>Cancelar
        </inertia-link>
      </div>
    </div>

    <!-- Modal preview imagen -->
    <div class="modal fade" id="modalPreview">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <img :src="preview" />
          </div>
        </div>
      </div>
    </div>
  </app-layout>
</template>

<script>
import AppLayout from "../../Layouts/AppLayout";
import {
  required,
  minLength,
  maxLength,
  email,
} from "vuelidate/lib/validators";

export default {
  components: {
    AppLayout,
  },
  props: { restaurante: "", errors: Object },
  data() {
    return {
      edit: true,
      form: {
        nombre: "",
        descripcion: "",
        telefono: "",
        contacto: "",
        correo_electronico: "",
        direccion: "",
        rfc: "",
        id_restaurante: null,
      },
      file: "",
      file2: "",
      preview_logo: "",
      preview_fondo: "",
      preview: "",
      submitted: false,
    };
  },
  mounted() {
    if (this.restaurante) {
      this.form.nombre = this.restaurante.nombre;
      this.form.descripcion = this.restaurante.descripcion;
      this.form.telefono = this.restaurante.telefono;
      this.form.contacto = this.restaurante.contacto;
      this.form.correo_electronico = this.restaurante.correo_electronico;
      this.form.direccion = this.restaurante.direccion;
      this.form.rfc = this.restaurante.rfc;
      this.form.id_restaurante = this.restaurante.id;

      this.preview_logo = `/storage/${this.restaurante.imagen_logo}`;
      this.preview_fondo = `/storage/${this.restaurante.imagen_fondo_aplicacion_movil}`;
    } else {
      this.edit = false;
    }

    // $("#modalPreview").on("hidden.bs.modal", function(e) {
    //   console.log("entro");
    //   this.preview = "";
    // });
  },
  methods: {
    guardarRestaurante() {
      this.submitted = true;
      if (this.$v.$invalid) {
        Swal.fire(
          "Error!",
          "Por favor, complete los campos mencionados en el formulario",
          "error"
        );
        return false;
      }
      let form = new FormData();
      form.append("form", JSON.stringify(this.form));
      form.append("imagen_logo", this.file);
      form.append("imagen_fondo_aplicacion_movil", this.file2);
      let url = route("restaurantes.store");
      this.$inertia.post(url, form, {
        onSuccess: (res) => {
          if (Object.keys(res.props.errors).length) {
            Swal.fire(
              "Error!",
              "Por favor, complete los campos mencionados en el formulario",
              "error"
            );
          } else {
            Swal.fire(
              this.form.nombre,
              "Ha sido creada exitosamente",
              "success"
            );
          }
        },
      });
    },
    actualizarRestaurante() {
      this.submitted = true;
      if (this.$v.$invalid) {
        Swal.fire(
          "Error!",
          "Por favor, complete los campos mencionados en el formulario",
          "error"
        );
        return false;
      }
      if (this.preview_logo == "" || this.preview_fondo == "") {
        Swal.fire(
          "Error!",
          "Por favor, complete los campos de imagenes",
          "error"
        );
      } else {
        let form = new FormData();
        form.append("_method", "PUT");
        form.append("form", JSON.stringify(this.form));
        form.append("imagen_logo", this.file);
        form.append("imagen_fondo_aplicacion_movil", this.file2);
        let url = route("restaurantes.update", this.restaurante.id);
        this.$inertia.post(url, form, {
          onSuccess: (res) => {
            if (Object.keys(res.props.errors).length) {
              Swal.fire(
                "Error",
                "Por favor, complete los campos requeridos",
                "error"
              );
            } else {
              Swal.fire(
                this.form.nombre,
                "Ha sido actualizada exitosamente",
                "success"
              );
            }
          },
        });
      }
    },
    showImagen(imagen) {
      if (imagen == "logo") this.preview = this.preview_logo;
      if (imagen == "fondo") this.preview = this.preview_fondo;

      $("#modalPreview").modal("show");
    },
    getImagen(file) {
      this.file = file.target.files[0];
      this.preview_logo = URL.createObjectURL(file.target.files[0]);
    },
    getImagen2(file) {
      this.file2 = file.target.files[0];
      this.preview_fondo = URL.createObjectURL(file.target.files[0]);
    },
    eliminarImagen(imagen) {
      if (imagen == "logo") {
        this.preview_logo = "";
        this.file = "";
      }

      if (imagen == "fondo") {
        this.preview_fondo = "";
        this.file2 = "";
      }
    },
  },
  validations: {
    form: {
      nombre: {
        required,
        minLength: minLength(1),
        maxLength: maxLength(50),
      },
      descripcion: {
        required,
        minLength: minLength(1),
        maxLength: maxLength(255),
      },
      telefono: {
        required,
        minLength: minLength(1),
        maxLength: maxLength(10),
      },
      contacto: {
        required,
        minLength: minLength(1),
        maxLength: maxLength(50),
      },
      correo_electronico: {
        required,
        email,
      },
      direccion: {
        required,
        minLength: minLength(1),
        maxLength: maxLength(150),
      },
      rfc: {
        maxLength: maxLength(13),
      },
      id_restaurante: {
        required,
      },
    },
  },
};
</script>

<style scoped>
.btn-light {
  background: #efefef !important;
}

.required:after {
  content: "*";
  color: #f97a74;
  margin-left: 5px;
}

.image {
  display: none;
}

.custom-file {
  width: 200px;
  height: 1px;
}

.custom-option {
  color: #6e86fd;
  cursor: pointer;
  font-weight: 500;
}

.modal-body {
  padding: 0px !important;
}

img {
  max-height: 600px;
  width: 500px;
}
</style>
