<template>
  <app-layout>
    <div class="card m-4 card-restaurantes">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h1 class="m-0">Restaurantes</h1>
          <inertia-link
            :href="route('restaurantes.create')"
            class="btn btn-crear"
            ><i class="fas fa-plus i-crear"></i>Crear</inertia-link
          >
        </div>

        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Dirección</th>
              <th class="text-center">¿Activo?</th>
              <th class="text-center">Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(row, index) in restaurantes" :key="index">
              <td>{{ row.nombre }}</td>
              <td>{{ row.descripcion }}</td>
              <td class="text-center px-4 py-2">
                <input
                  type="checkbox"
                  v-model="row.activo"
                  @click.prevent="activo(row)"
                />
              </td>

              <td class="text-center td-accion">
                <a class="mr-1" href="#" @click.prevent="editar(row)">
                  <i class="far fa-edit"></i>
                </a>

                <a href="#" @click.prevent="eliminar(row)">
                  <i class="far fa-trash-alt"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </app-layout>
</template>

<script>
import AppLayout from "../../Layouts/AppLayout";

export default {
  components: {
    AppLayout,
  },
  props: { restaurantes: "", dias: "", errors: Object },
  mounted() {},
  methods: {
    activo(row) {
      Swal.fire({
        title: "¿Deseas cambiar el estado del registro?",
        showCancelButton: true,
        icon: "warning",
        confirmButtonColor: "#2F3D4C",
        cancelButtonColor: "#fa7973",
        confirmButtonText: "Si",
        cancelButtonText: "No",
      }).then((result) => {
        if (result.value) {
          console.log("entro");
          let url = route("restaurantes.activo", row.id);
          this.$inertia.post(url, row);
          //  notificacion("success", mensaje);
          Swal.fire("Exito!", "El registro fue creado con exito", "success");
        }
      });
    },
    editar(row) {
      let url = route("restaurantes.edit", row.id);
      this.$inertia.get(url);
    },
    eliminar(row) {
      Swal.fire({
        title: "Advertencia!",
        text: "¿Desea eliminar el restaurante seleccionado?",
        showCancelButton: true,
        icon: "warning",
        confirmButtonText: "Si",
        cancelButtonText: "No",
      }).then((result) => {
        if (result.value) {
          let url = route("restaurantes.destroy", row.id);

          this.$inertia.delete(url, {
            onSuccess: (res) => {
              if (res.props.errors.is_related) {
                Swal.fire(
                  row.nombre,
                  "No puede eliminarse por reglas de integridad, solo desactivar",
                  "error"
                );
              } else {
                Swal.fire(
                  row.nombre,
                  "Ha sido eliminada exitosamente",
                  "success"
                );
              }
            },
          });
        }
      });
    },
  },
};
</script>
<style scoped>
.error {
  border: 1px solid red;
  border-radius: 4px;
}
</style>
