<template>
    <app-layout>
        <div class="card m-4 card-restaurantes">
            <div class="card-body ">
                <div class="mb-5 d-flex justify-content-between align-items-end">
                    <h2 v-if="restaurante">Crear usuario</h2>
                    <h2 v-if="usuario">Editar usuario</h2>
                    <h4>
                        {{ usuario ? usuario.restaurante.nombre : restaurante.nombre }}
                    </h4>
                </div>

                <form class="pt-3">
                    <!--<div class="px-2 d-flex justify-content-end">
                              Nombre Restaurante
                          </div>-->

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label required">Nombre:</label>
                        <div class="col-sm-10">
                            <input
                                type="text"
                                class="form-control"
                                id="name"
                                placeholder="Nombre usuario"
                                name="name"
                                v-model="form.name"
                                required
                                maxlength="30"
                            />
                            <small class="invalid-feedback d-block" v-if="submitted && !$v.form.name.required">Por favor ingrese un nombre de usuario</small>
                            <small class="invalid-feedback d-block" v-if="!$v.form.name.minLength">Por favor, ingrese un valor, entre 1 y 30 digítos</small>
                            <small class="invalid-feedback d-block" v-if="!$v.form.name.maxLength">Por favor, ingrese un valor, entre 1 y 30 digítos</small>
                            <small class="invalid-feedback d-block" v-if="errors.name">
                                {{ errors.name }}
                            </small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label required">Correo electrónico:</label>
                        <div class="col-sm-10">
                            <input
                                type="email"
                                class="form-control"
                                id="email"
                                placeholder="Correo electrónico usuario"
                                name="email"
                                v-model="form.email"
                                required
                                maxlength="50"
                            />
                            <small class="invalid-feedback d-block" v-if="submitted && !$v.form.email.required">Por favor, ingrese un correo</small>
                            <small class="invalid-feedback d-block" v-if="!$v.form.email.email">Por favor, ingrese un correo valido</small>
                            <small class="invalid-feedback d-block" v-if="errors.email">
                                {{ errors.email }}
                            </small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label required">Contraseña:</label>
                        <div class="col-sm-10">
                            <input
                                type="password"
                                class="form-control"
                                id="password"
                                placeholder="Contraseña usuario"
                                name="password"
                                v-model="form.password"
                                required
                                maxlength="128"
                            />
                            <small class="invalid-feedback d-block" v-if="submitted && !$v.form.password.required">Por favor, ingrese una contraseña</small>
                            <small class="invalid-feedback d-block" v-if="!$v.form.password.minLength">Por favor, ingrese una contraseña mínimo 6 digítos y máximo 128 digítos</small>
                            <small class="invalid-feedback d-block" v-if="!$v.form.password.maxLength">Por favor, ingrese una contraseña mínimo 6 digítos y máximo 128 digítos</small>
                            <small class="invalid-feedback d-block" v-if="errors.password">
                                {{ errors.password }}
                            </small>
                        </div>
                    </div>


                </form>
                <div class="row pb-4">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-2">

                        <inertia-link
                            href=""
                            type="submit"
                            class="btn btn-block btn-crear mr-1 "
                            @click.prevent="actualizarUsuario()"
                            v-if="usuario"
                        ><i class="fas fa-save mr-1"></i>Guardar
                        </inertia-link
                        >
                        <inertia-link
                            href=""
                            type="submit"
                            class="btn btn-block btn-crear mr-1"
                            @click.prevent="guardar(usuario)"
                            v-if="restaurante"
                        ><i class="fas fa-save mr-1"></i>Guardar
                        </inertia-link
                        >
                    </div>
                    <div class="col-md-2">
                        <inertia-link class="btn btn-block btn-light" :href="route('usuarios.index')"
                        ><i class="fas fa-times mr-2"></i>Cancelar
                        </inertia-link
                        >
                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
import AppLayout from "../../Layouts/AppLayout";
import Vue from "vue";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import {required, minLength, maxLength, numeric, decimal, helpers, minValue, maxValue, email} from 'vuelidate/lib/validators';

Vue.component("v-select", vSelect);

export default {
    components: {
        AppLayout,
    },
    props: {
        usuario: "",
        restaurante: "",
        errors: Object,
    },
    methods: {
        guardar() {
            this.submitted = true;
            if (this.$v.$invalid) {
                Swal.fire(
                    "Error!",
                    "Por favor, complete los campos mencionados en el formulario",
                    "error"
                );
                return false;
            }
            let form = new FormData();
            form.append("form", JSON.stringify(this.form));
            let url = route("usuarios.store");
            this.$inertia.post(url, form, {
                onSuccess: (res) => {
                    if (Object.keys(res.props.errors).length) {
                        Swal.fire(
                            "Error!",
                            "Por favor, complete los campos mencionados en el formulario",
                            "error"
                        );
                    } else {
                        Swal.fire(
                            this.form.nombre,
                            "Usuario Ha sido creado exitosamente",
                            "success"
                        );
                    }
                },
            });
        },
        actualizarUsuario() {
            this.submitted = true;
            if (this.$v.$invalid) {
                Swal.fire(
                    "Error!",
                    "Por favor, complete los campos mencionados en el formulario",
                    "error"
                );
                return false;
            }
            let form = new FormData();
            form.append("_method", "PUT");
            form.append("form", JSON.stringify(this.form));
            let url = route("usuarios.update", this.usuario.id);
            this.$inertia.post(url, form, {
                onSuccess: (res) => {
                    if (Object.keys(res.props.errors).length) {
                        Swal.fire(
                            "Error",
                            "Por favor, complete los campos requeridos",
                            "error"
                        );
                    } else {
                        Swal.fire(
                            this.form.nombre,
                            "Usuario ha sido actualizado exitosamente",
                            "success"
                        );
                    }
                },
            });
        },
    },
    data() {
        return {
            form: {
                name: "",
                password: "",
                email: "",
                id_restaurante: "",
            },
            submitted: false
        };
    },
    mounted() {
        // Se asignan los valores obtenidos, de la categoria a modificar
        if (this.usuario) {
            this.form.name = this.usuario.name;
            this.form.email = this.usuario.email;
            this.form.password = "";
            this.form.id_restaurante = this.usuario.id_restaurante;
        }

        // Se asigna el id del restaurante, a la categoria a crear
        if (this.restaurante) {
            this.form.id_restaurante = this.restaurante.id;
        }
    },
    validations: {
        form: {
            name: {
                required,
                minLength: minLength(1),
                maxLength: maxLength(30),
            },
            password: {
                required,
                minLength: minLength(6),
                maxLength: maxLength(128),
            },
            email: {
                required,
                email
            },
            id_restaurante: {

            },
        }
    }
};
</script>

<style scoped>
.btn-light {
    background: #efefef !important;
}

.required:after {
    content: "*";
    color: #f97a74;
    margin-left: 5px;
}
</style>
