<template>
  <app-layout>
    <div class="card m-4 card-restaurantes">
      <div class="card-body ">
        <h1>Usuarios</h1>
        <div class="d-flex justify-content-between align-items-bottom my-4">
             <v-select
            class="w-25"
            placeholder="Seleccione un restaurante"
            label="nombre"
            :options="restaurantes"
            v-model="restaurante"
          ></v-select>
          <inertia-link
            v-if="restaurante"
            :href="route('formulario_usuario', restaurante.id)"
            class="btn btn-crear"
          >
          <i class="fas fa-plus i-crear"></i>Crear</inertia-link>
        </div>

        <table class="table table-hover table-bordered" v-if="restaurante">
          <thead>
            <tr>
              <th>Nombre</th>
              <th class="text-center">¿Activo?</th>
              <th class="text-center">Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(row, index) in restaurante.usuarios" :key="index">
              <td class="">{{ row.name }}</td>
              <td class="text-center">
                <input
                  type="checkbox"
                  :checked="row.activo"
                  @click.prevent="activo(row)"
                />
              </td>
              <td class="text-center">
                <a href="#" @click.prevent="editar(row)"
                  ><i class="far fa-edit"></i
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </app-layout>
</template>

<script>
import AppLayout from "../../Layouts/AppLayout";

export default {
  components: {
    AppLayout,
  },
  props: {
    Usuarios: "",
    restaurantes: "",
  },
  data() {
    return {
      restaurante: "",
    };
  },
  methods: {
    activo(row) {
      Swal.fire({
        title: "¿Deseas cambiar el estado del registro?",
        showCancelButton: true,
        icon: "warning",
        confirmButtonColor: "#2F3D4C",
        cancelButtonColor: "#fa7973",
        confirmButtonText: "Si",
        cancelButtonText: "No",
      }).then((result) => {
        if (result.value) {
          let url = route("estado_usuario", row.id);
          this.$inertia.get(url);

          Swal.fire(
            "Exito!",
            "El registro fue actualizado con exito",
            "success"
          );
        }
      });
    },
    editar(row) {
      let url = route("usuarios.edit", row.id);
      this.$inertia.get(url);
    },
  },
};
</script>