<template>
    <app-layout>
        <div class="card m-4 card-restaurantes">
            <div class="card-body p-5">
                <div class="mb-5 d-flex justify-content-between align-items-end">
                    <h2 v-if="productosCreate">Crear Producto</h2>
                    <h2 v-if="productoEdit">Editar Producto</h2>
                    <h4>
                        {{ productoEdit ? productoEdit.nombre : productosCreate.nombre }}
                    </h4>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label required">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="nombre" v-model="form.nombre" minlength="1" maxlength="50" required />
                        <small class="invalid-feedback d-block" v-if="submitted && !$v.form.nombre.required">Por favor, ingrese el nombre del producto</small>
                        <small class="invalid-feedback d-block" v-if="!$v.form.nombre.minLength">Por favor, ingrese un valor entre 1 y 50 digítos</small>
                        <small class="invalid-feedback d-block" v-if="!$v.form.nombre.maxLength">Por favor, ingrese un valor entre 1 y 50 digítos</small>
                        <small class="invalid-feedback d-block" v-if="errors.nombre">
                            {{ errors.nombre}}
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label required">Descripción</label>
                    <div class="col-sm-10">
                        <input
                            type="text"
                            id="descripcion"
                            class="form-control"
                            v-model="form.descripcion"
                            minlength="1" maxlength="150"
                        />
                        <small class="invalid-feedback d-block" v-if="submitted && !$v.form.descripcion.required">Por favor, ingrese la descripción del producto</small>
                        <small class="invalid-feedback d-block" v-if="!$v.form.descripcion.minLength">Por favor, ingrese un valor entre 1 y 150 digítos</small>
                        <small class="invalid-feedback d-block" v-if="!$v.form.descripcion.maxLength">Por favor, ingrese un valor entre 1 y 150 digítos</small>
                        <small class="invalid-feedback d-block" v-if="errors.descripcion">
                            {{ errors.descripcion }}
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label required">Categoría</label>
                    <div class="col-sm-10">
                        <v-select
                            class="w-25"
                            placeholder="Seleccione una categoria"
                            label="nombre"
                            :options="categorias"
                            :reduce="categoria => categoria.id"
                            v-model="form.id_categoria"
                        ></v-select>
                        <small class="invalid-feedback d-block" v-if="submitted && !$v.form.id_categoria.required">Por favor, seleccione una categoría</small>
                        <small class="invalid-feedback d-block" v-if="errors.id_categoria">
                            {{ errors.id_categoria }}
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label required">Preparación</label>
                    <div class="col-sm-10">
                        <input
                            type="text"
                            id="preparacion"
                            class="form-control"
                            v-model="form.preparacion"
                            minlength="1" maxlength="255"
                        />
                        <small class="invalid-feedback d-block" v-if="submitted && !$v.form.preparacion.required">Por favor, ingrese la preparación del producto</small>
                        <small class="invalid-feedback d-block" v-if="!$v.form.preparacion.minLength">Por favor, ingrese un valor entre 1 y 255 digítos</small>
                        <small class="invalid-feedback d-block" v-if="!$v.form.preparacion.maxLength">Por favor, ingrese un valor entre 1 y 255 digítos</small>
                        <small class="invalid-feedback d-block" v-if="errors.preparacion">
                            {{ errors.preparacion }}
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label required">Costo</label>
                    <div class="col-sm-10">
                        <input
                            type="text"
                            class="form-control"
                            v-model="form.costo"
                            minlength="1" maxlength="12"
                        />
                        <small class="invalid-feedback d-block" v-if="submitted && !$v.form.costo.required">Por favor ingrese un costo del producto</small>
                        <small class="invalid-feedback d-block" v-if="!$v.form.costo.minLength">Por favor, ingrese un valor, entre 1 y 12 digítos</small>
                        <small class="invalid-feedback d-block" v-if="!$v.form.costo.maxLength">Por favor, ingrese un valor, entre 1 y 12 digítos</small>
                        <small class="invalid-feedback d-block" v-if="!$v.form.costo.decimal">Por favor, ingrese solo números</small>
                        <small class="invalid-feedback d-block" v-if="errors.costo">
                            {{ errors.costo }}
                        </small>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Imagen</label>
                    <div class="col-sm-10">
                        <input type="file" @change="getImagen($event)" accept="image/*"/>
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-2">
                        <button
                            class="btn btn-block btn-crear mr-1"
                            v-if="productosCreate"
                            @click="crearProducto"
                        >
                            <i class="fas fa-save"></i>
                            Guardar
                        </button>
                        <button
                            class="btn btn-block btn-crear mr-1"
                            v-if="productoEdit"
                            @click="actualizarProducto"
                        >
                            <i class="fas fa-save"></i>
                            Guardar
                        </button>
                    </div>
                    <div class="col-md-2">
                        <inertia-link
                            class="btn btn-block btn-light"
                            :href="route('productos.index')"
                        ><i class="fas fa-times mr-2"></i>
                            Cancelar
                        </inertia-link>
                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
import AppLayout from "../../Layouts/AppLayout";
import {
    required,
    minLength,
    maxLength,
    numeric,
    decimal,
    helpers,
    minValue,
    maxValue,
    email
} from 'vuelidate/lib/validators';

export default {
    components: {
        AppLayout,
    },
    props: {
        productoEdit: "",
        productosCreate: "",
        categorias: "",
        errors: Object,
    },
    data() {
        return {
            form: {
                nombre: "",
                descripcion: "",
                id_categoria: null,
                preparacion: "",
                costo: "",
                id_restaurante: null,
            },
            file: "",
            errores: {},
            submitted: false
        };
    },
    mounted() {
        // Se asignan los valores obtenidos, de la categoria a modificar
        if (this.productoEdit) {
            this.form.nombre = this.productoEdit.nombre;
            this.form.descripcion = this.productoEdit.descripcion;
            this.form.id_categoria = this.productoEdit.categoria.id;
            this.form.preparacion = this.productoEdit.preparacion;
            this.form.costo = this.productoEdit.costo;
            this.form.id_restaurante = this.productoEdit.id_restaurante;
        }

        // Se asigna el id del restaurante, a la categoria a crear
        if (this.productosCreate) {
            this.form.id_restaurante = this.productosCreate.id;
        }

        // if(){

        // }
    },
    methods: {
        crearProducto() {
            this.submitted = true;
            if (this.$v.$invalid) {
                Swal.fire(
                    "Error!",
                    "Por favor, complete los campos mencionados en el formulario",
                    "error"
                );
                return false;
            }
            // tomar el id del select de la categoria
            // this.form.id_categoria = this.form.id_categoria.id;
            let form = new FormData();
            form.append("form", JSON.stringify(this.form));
            form.append("imagen", this.file);

            let url = route("productos.store");

            this.$inertia.post(url, form, {
                onSuccess: (res) => {
                    if (Object.keys(res.props.errors).length) {
                        Swal.fire(
                            "Error!",
                            "Por favor, complete los campos mencionados en el formulario",
                            "error"
                        );
                    } else {
                        Swal.fire(
                            this.form.nombre,
                            "Ha sido creada exitosamente",
                            "success"
                        );
                    }
                },
            });
        },
        actualizarProducto() {
            this.submitted = true;
            if (this.$v.$invalid) {
                Swal.fire(
                    "Error!",
                    "Por favor, complete los campos mencionados en el formulario",
                    "error"
                );
                return false;
            }
            // tomar el id del select de la categoria
            // this.form.id_categoria = this.form.id_categoria.id;
            let form = new FormData();
            form.append("_method", "PUT");
            form.append("form", JSON.stringify(this.form));
            form.append("imagen", this.file);

            let url = route("productos.update", this.productoEdit.id);

            this.$inertia.post(url, form, {
                onSuccess: (res) => {
                    if (Object.keys(res.props.errors).length) {
                        Swal.fire(
                            "Error",
                            "Por favor, complete los campos requeridos",
                            "error"
                        );
                    } else {
                        Swal.fire(
                            this.form.nombre,
                            "Ha sido actualizada exitosamente",
                            "success"
                        );
                    }
                },
            });
        },
        getImagen(file) {
            this.file = file.target.files[0];
        },
    },
    validations: {
        form: {
            nombre: {
                required,
                minLength: minLength(1),
                maxLength: maxLength(50),
            },
            descripcion: {
                required,
                minLength: minLength(1),
                maxLength: maxLength(150),
            },
            id_categoria: {
                required
            },
            preparacion: {
                required,
                minLength: minLength(1),
                maxLength: maxLength(255),
            },
            costo: {
                required,
                decimal: helpers.regex('decimal', /^[0-9]+(\.[0-9]{1,2})?$/),
                minLength: minLength(1),
                maxLength: maxLength(12),
            },
            id_restaurante: {
            },
        }
    }
};
</script>

<style scoped>
.btn-light {
    background: #efefef !important;
}

.required:after {
    content: "*";
    color: #f97a74;
    margin-left: 5px;
}
</style>
