<template>
  <app-layout>
    <div class="card m-4 card-restaurantes">
      <div class="card-body">
        <h1>Productos</h1>
        <!-- Buscador Restaurantes -->
        <div class="d-flex justify-content-between align-items-bottom my-4">
          <v-select
            class="w-25"
            placeholder="Seleccione un restaurante"
            label="nombre"
            :options="Restaurantes"
            v-model="productos"
          ></v-select>
          <inertia-link
            v-if="productos"
            :href="route('formulario_producto', productos.id)"
            class="btn btn-crear"
            ><i class="fas fa-plus i-crear"></i>
            Crear
          </inertia-link>
        </div>

        <table class="table table-hover table-bordered" v-if="productos">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Categoria</th>
              <th class="text-center">¿Activo?</th>
              <th class="text-center">Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(row, index) in productos.productos" :key="index">
              <td>{{ row.nombre }}</td>
              <td>{{ row.descripcion }}</td>
              <td>{{ row.categoria.nombre }}</td>
              <td class="text-center">
                <input
                  type="checkbox"
                  :checked="row.activo"
                  @click.prevent="activo(row)"
                />
              </td>
              <td class="text-center">
                <inertia-link href="" @click.prevent="editar(row)">
                  <i class="far fa-edit"></i
                ></inertia-link>

                <inertia-link href="" @click.prevent="eliminar(row)">
                  <i class="far fa-trash-alt"></i>
                </inertia-link>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </app-layout>
</template>

<script>
import AppLayout from "../../Layouts/AppLayout";
import Vue from "vue";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";

Vue.component("v-select", vSelect);

export default {
  components: {
    AppLayout,
  },
  props: { Restaurantes: "" },
  data() {
    return {
      productos: "",
    };
  },
  methods: {
    activo(row) {
      Swal.fire({
        title: "¿Deseas cambiar el estado del registro?",
        showCancelButton: true,
        icon: "warning",
        confirmButtonColor: "#2F3D4C",
        cancelButtonColor: "#fa7973",
        confirmButtonText: "Si",
        cancelButtonText: "No",
      }).then((result) => {
        if (result.value) {
          console.log("entro");
          let url = route("productos.activo", row.id);
          this.$inertia.get(url);
          //  notificacion("success", mensaje);
          Swal.fire("Exito!", "El registro fue creado con exito", "success");
        }
      });
    },
    editar(row) {
      let url = route("productos.edit", row.id);
      this.$inertia.get(url);
    },
    eliminar(row) {
      Swal.fire({
        title: "Advertencia!",
        text: "¿Desea eliminar los productos seleccionados?",
        showCancelButton: true,
        icon: "warning",
        confirmButtonText: "Si",
        cancelButtonText: "No",
      }).then((result) => {
        if (result.value) {
          let url = route("productos.destroy", row.id);

          this.$inertia.delete(url, {
            onSuccess: (res) => {
              if (res.props.errors.is_related) {
                Swal.fire(
                  row.nombre,
                  "No puede eliminarse por reglas de integridad, solo desactivar",
                  "error"
                );
              } else {
                Swal.fire(
                  row.nombre,
                  "Ha sido eliminado exitosamente",
                  "success"
                );
              }
            },
          });
        }
      });
    },
  },
};
</script>
<style scoped>
.error {
  border: 1px solid red;
  border-radius: 4px;
}
</style>
