<template>
    <app-layout>
        <div class="card  m-4 card-restaurantes">
            <div class="card-body p-5">
                <div class="mb-5 d-flex justify-content-between align-items-end">
                    <h2 v-if="restaurante">Crear Categoria</h2>
                    <h2 v-if="categoria">Editar Categoria</h2>
                    <h4>
                        {{ categoria ? categoria.restaurante.nombre : restaurante.nombre }}
                    </h4>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label required">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="form.nombre" minlength="4" maxlength="50"/>
                        <small class="invalid-feedback d-block" v-if="submitted && !$v.form.nombre.required">Por favor, ingrese el nombre de la categoría</small>
                        <small class="invalid-feedback d-block" v-if="!$v.form.nombre.minLength">Por favor, ingrese un valor entre 4 y 50 digítos</small>
                        <small class="invalid-feedback d-block" v-if="!$v.form.nombre.maxLength">Por favor, ingrese un valor entre 4 y 50 digítos</small>
                        <small class="invalid-feedback d-block" v-if="errors.nombre">
                            {{ errors.nombre }}
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Descripcion</label>
                    <div class="col-sm-10">
                        <input
                            type="text"
                            class="form-control"
                            v-model="form.descripcion"
                            minlength="4" maxlength="150"
                        />
                        <small class="invalid-feedback d-block" v-if="!$v.form.descripcion.maxLength">Por favor, ingrese un valor entre 4 y 150 digítos</small>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-2">
                        <label>¿Complemento?</label>
                    </div>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input
                                class="form-check-input"
                                type="checkbox"
                                v-model="form.complemento"
                            />
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label required">Prioridad</label>
                    <div class="col-sm-10">
                        <input
                            type="text"
                            class="form-control"
                            v-model="form.prioridad"
                            minlength="1" maxlength="2"
                        />
                        <small class="invalid-feedback d-block" v-if="submitted && !$v.form.prioridad.required">Por favor, ingrese la prioridad</small>
                        <small class="invalid-feedback d-block" v-if="!$v.form.prioridad.minLength">Por favor, ingrese un valor, entre 1 y 2 dígitos</small>
                        <small class="invalid-feedback d-block" v-if="!$v.form.prioridad.maxLength">Por favor, ingrese un valor, entre 1 y 2 dígitos</small>
                        <small class="invalid-feedback d-block" v-if="!$v.form.prioridad.numeric">Por favor, ingrese solo números</small>
                        <small class="invalid-feedback d-block" v-if="errors.prioridad">
                            {{ errors.prioridad }}
                        </small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Imagen</label>
                    <div class="col-sm-10">
                        <input type="file" @change="getImagen($event)" accept="image/*"/>
                        <div class="text-danger" v-if="errors.imagen">
                            {{ errors.imagen }}
                        </div>
                    </div>
                </div>
                <div class="row pb-4">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-2">
                        <button
                            class="btn btn-block btn-crear mr-1"
                            v-if="restaurante"
                            @click="crearCategoria"
                        ><i class="fas fa-save"></i>
                            Guardar
                        </button>
                        <button
                            class="btn btn-block btn-crear mr-1"
                            v-if="categoria"
                            @click="actualizarCategoria"
                        ><i class="fas fa-save"></i>
                            Guardar
                        </button>
                    </div>
                    <div class="col-md-2">
                        <inertia-link
                            class="btn btn-block btn-light"
                            :href="route('categorias.index')"
                        ><i class="fas fa-times mr-2"></i>
                            Cancelar
                        </inertia-link>
                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
import AppLayout from "../../Layouts/AppLayout";
import {
    required,
    minLength,
    maxLength,
    numeric,
    decimal,
    helpers,
    minValue,
    maxValue,
    email
} from 'vuelidate/lib/validators';

export default {
    components: {
        AppLayout,
    },
    props: {restaurante: "", categoria: "", errors: Object},
    data() {
        return {
            form: {
                nombre: "",
                descripcion: "",
                complemento: 0,
                prioridad: 0,
                id_restaurante: null,
            },
            file: "",
            submitted: false
        };
    },
    mounted() {
        // Se asignan los valores obtenidos, de la categoria a modificar
        if (this.categoria) {
            this.form.nombre = this.categoria.nombre;
            this.form.descripcion = this.categoria.descripcion;
            this.form.complemento = this.categoria.complemento;
            this.form.prioridad = this.categoria.prioridad;
            this.form.id_restaurante = this.categoria.id_restaurante;
        }

        // Se asigna el id del restaurante, a la categoria a crear
        if (this.restaurante) {
            this.form.id_restaurante = this.restaurante.id;
        }
    },
    methods: {
        crearCategoria() {
            this.submitted = true;
            if (this.$v.$invalid) {
                Swal.fire(
                    "Error!",
                    "Por favor, complete los campos mencionados en el formulario",
                    "error"
                );
                return false;
            }
            let form = new FormData();
            form.append("form", JSON.stringify(this.form));
            form.append("imagen", this.file);

            let url = route("categorias.store");

            this.$inertia.post(url, form, {
                onSuccess: (res) => {
                    if (Object.keys(res.props.errors).length) {
                        Swal.fire(
                            "Error!",
                            "Por favor, complete los campos mencionados en el formulario",
                            "error"
                        );
                    } else {
                        Swal.fire(
                            this.form.nombre,
                            "Ha sido creada exitosamente",
                            "success"
                        );
                    }
                },
            });
        },
        actualizarCategoria() {
            this.submitted = true;
            if (this.$v.$invalid) {
                Swal.fire(
                    "Error!",
                    "Por favor, complete los campos mencionados en el formulario",
                    "error"
                );
                return false;
            }
            let form = new FormData();
            form.append("_method", "PUT");
            form.append("form", JSON.stringify(this.form));
            form.append("imagen", this.file);

            let url = route("categorias.update", this.categoria.id);

            this.$inertia.post(url, form, {
                onSuccess: (res) => {
                    if (Object.keys(res.props.errors).length) {
                        Swal.fire(
                            "Error",
                            "Por favor, complete los campos requeridos",
                            "error"
                        );
                    } else {
                        Swal.fire(
                            this.form.nombre,
                            "Ha sido actualizada exitosamente",
                            "success"
                        );
                    }
                },
            });
        },
        getImagen(file) {
            this.file = file.target.files[0];
        },
    },
    validations: {
        form: {
            nombre: {
                required,
                minLength: minLength(4),
                maxLength: maxLength(50),
            },
            descripcion: {
                maxLength: maxLength(150),
            },
            complemento: {
            },
            prioridad: {
                required,
                minLength: minLength(1),
                maxLength: maxLength(2),
                numeric
            },
            id_restaurante: {
            }
        }
    }
};
</script>

<style scoped>
.btn-light {
    background: #efefef !important;
}

.required:after {
    content: "*";
    color: #f97a74;
    margin-left: 5px;
}
</style>
