<template>
  <app-layout>
    <div class="card m-4 card-restaurantes">
      <div class="card-body">
        <h1>Categorías</h1>
        <!-- Buscador Restaurantes -->
        <div class="d-flex justify-content-between align-items-bottom my-4">
          <v-select
            placeholder="Seleccione un restaurante"
            label="nombre"
            class="w-25"
            :options="restaurantes"
            v-model="restaurante"
          ></v-select>

          <inertia-link
            v-if="restaurante"
            :href="route('formulario_categoria', restaurante.id)"
            class="btn btn-crear"
          ><i class="fas fa-plus i-crear"></i>
            Crear
          </inertia-link>
        </div>

        <div class="table-responsive">
          <table class="table table-hover table-bordered" v-if="restaurante">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th class="text-center">¿Complemento?</th>
                <th class="text-center">Prioridad</th>
                <th class="text-center">¿Activo?</th>
                <th class="text-center">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(categoria, index) in restaurante.categorias"
                :key="index"
              >
                <td class="px-4 py-2">{{ categoria.nombre }}</td>
                <td class="px-4 py-2">{{ categoria.descripcion }}</td>
                <td class="text-center">
                  <input
                    class="isDisabled"
                    type="checkbox"
                    :checked="categoria.complemento"
                  />
                </td>
                <td class="text-center">{{ categoria.prioridad }}</td>
                <td class="text-center">
                  <!-- <label class="check text-center">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      name="remember"
                      :checked="categoria.activo"
                      @click="cambiarEstado(categoria)"
                    />
                    <span class="checkmark"></span>
                  </label> -->
                  <input
                    type="checkbox"
                    :checked="categoria.activo"
                    @click.prevent="cambiarEstado(categoria)"
                  />
                </td>
                <td class="text-center">
                  <!-- <div class="td-editar-btn mr-1"> -->
                    <inertia-link
                      :href="route('categorias.edit', categoria.id)"
                    >
                      <i data-v-5fd7dcb7="" class="far fa-edit"></i>
                    </inertia-link>
                  <!-- </div> -->

                  <a href="#" @click.prevent="eliminarCategoria(categoria)">
                    <i data-v-5fd7dcb7="" class="far fa-trash-alt"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </app-layout>
</template>

<script>
import AppLayout from "../../Layouts/AppLayout";

export default {
  components: {
    AppLayout,
  },
  props: { categorias: "", restaurantes: "" },
  data() {
    return {
      restaurante: "",
      s_categoria: "",
    };
  },
  methods: {
    cambiarEstado(categoria) {
      Swal.fire({
        title: "Advertencia!",
        text: "¿Desea cambiar el estado de la categoria seleccionada?",
        showCancelButton: true,
        icon: "warning",
        confirmButtonText: "Si",
        cancelButtonText: "No",
      }).then((result) => {
        if (result.value) {
          let url = route("estado_categoria", categoria.id);
          this.$inertia.get(url);

          Swal.fire(
            categoria.nombre,
            categoria.activo ? "Ha sido desactivada" : "Ha sido activada",
            "success"
          );
        }
      });
    },
    eliminarCategoria(categoria) {
      Swal.fire({
        title: "Advertencia!",
        text: "¿Desea eliminar la categoria seleccionada?",
        showCancelButton: true,
        icon: "warning",
        confirmButtonText: "Si",
        cancelButtonText: "No",
      }).then((result) => {
        if (result.value) {
          let url = route("categorias.destroy", categoria.id);

          this.$inertia.delete(url, {
            onSuccess: (res) => {
              if (res.props.errors.is_related) {
                Swal.fire(
                  categoria.nombre,
                  "No puede eliminarse por reglas de integridad, solo desactivar",
                  "error"
                );
              } else {
                Swal.fire(
                  categoria.nombre,
                  "Ha sido eliminada exitosamente",
                  "success"
                );
              }
            },
          });
        }
      });
    },
  },
};
</script>

<style scoped>
.isDisabled {
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}
</style>
