<template>
  <app-layout>
    <div class="card m-4 card-restaurantes">
      <div class="card-body">
        <h1>Formas de Pago</h1>
        <div class="d-flex justify-content-between align-items-bottom my-4">
          <v-select
            placeholder="Seleccionar un restaurante"
            label="nombre"
            class="w-25"
            :options="restaurantes"
            @input="formasPagoRestaurante"
            required
          ></v-select>
        </div>

        <table class="table table-hover table-bordered" v-if="!is_disabled">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Descripción</th>
              <th class="text-center">¿Incluir?</th>
              <th class="text-center">¿Activo?</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(row, index) in formasDePago" :key="index">
              <td>{{ row.nombre }}</td>
              <td>{{ row.descripcion }}</td>
              <td class="text-center">
                <input
                  type="checkbox"
                  name="remember"
                  v-model="formasDePago[index].check"
                  required
                />
              </td>
              <td class="text-center px-4 py-2">
                <input
                  type="checkbox"
                  name="remember"
                  v-model="row.activo"
                  @click.prevent="activo(row)"
                  required
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer border-0 bg-white text-right" v-if="!is_disabled">
        <button class="btn btn-crear" @click="guardar(formasDePago)">
          <i class="fas fa-save"></i> Guardar
        </button>
      </div>
    </div>
  </app-layout>
</template>

<script>
import AppLayout from "../../Layouts/AppLayout";
import Vue from "vue";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
Vue.component("v-select", vSelect);

export default {
  components: {
    AppLayout,
  },
  props: {
    restaurantes: "",
    formasPago: "",
    errors: Object,
  },
  data() {
    return {
      is_disabled: true,
      formasDePago: [],
      restauranteSelected: {},
    };
  },
  methods: {
    activo(row) {
      Swal.fire({
        title: "¿Deseas cambiar el estado del registro?",
        showCancelButton: true,
        icon: "warning",
        confirmButtonColor: "#2F3D4C",
        cancelButtonColor: "#fa7973",
        confirmButtonText: "Si",
        cancelButtonText: "No",
      }).then((result) => {
        if (result.value) {
          let url = route("formas_pagos.activo", row.id);
          console.log(url);
          this.$inertia.get(url);
          Swal.fire(
            "Exito!",
            "El registro fue actualizado con exito",
            "success"
          );
        }
      });
    },
    guardar(data) {
      for (let i = 0; i < data.length; i++) {
        data[i].id_restaurante = this.restauranteSelected.id;
      }

      let url = route("formas_pagos.store");

      this.$inertia.post(url, data, {
        onSuccess: () => {
          if (Object.keys(this.errors).length) {
            Swal.fire(
              "Error!",
              "Por favor, complete la informacion solicitada",
              "error"
            );
          } else {
            Swal.fire(
              "Exito!",
              "Se han guardado los cambios exitosamente",
              "success"
            );
          }
        },
      });
    },
    formasPagoRestaurante(restaurante) {
      this.restauranteSelected = restaurante;
      this.formasDePago = this.formasPago;

      if (restaurante) {
        this.is_disabled = false;

        this.formasPago.forEach((f_pago) => (f_pago.check = false));

        restaurante.formasPago.forEach((r_pago) => {
          let index = this.formasPago.findIndex(
            (f_pago) => f_pago.id == r_pago.id_forma_pago
          );

          if (this.formasPago[index]) {
            console.log(index);
            this.formasPago[index].check = true;
          }
        });
      } else {
        this.is_disabled = true;
      }
    },
  },
};
</script>
<style scoped>
.error {
  border: 1px solid red;
  border-radius: 4px;
}
</style>