<template>
  <div>
    <div class="d-flex">
      <!-- comienza panel lateral -->
      <div class="sidebar-container font-weight-bold">
        <div class="logo">
          <img src="/img/Logo.png" class="img" alt="Roles" width="320" />
        </div>
        <div class="menu" id="menu-container-main">
          <!-- Nav pills -->
          <ul class="nav flex-column nav-pills" id="menu-rest">
            <li class="nav-item">
              <inertia-link
                :href="route('restaurantes.index')"
                class="nav-link d-block m-2"
                onclick="selectOptionMenu(this)"
                id="option-r"
                ><i class="fas fa-utensils"></i>
                Restaurantes
              </inertia-link>
            </li>
    
            <li class="nav-item">
              <inertia-link
                :href="route('zonasentregas.index')"
                class="nav-link d-block m-2"
                onclick="selectOptionMenu(this)"
                id="option-z"
                ><i class="fas fa-box"></i>
                Zonas Entrega
              </inertia-link>
            </li>
    
            <li class="nav-item">
              <inertia-link
                :href="route('usuarios.index')"
                class="nav-link d-block m-2"
                onclick="selectOptionMenu(this)"
                id="option-u"
              >
                <i class="fas fa-users"></i> Usuarios
              </inertia-link>
            </li>
            <li class="nav-item">
              <inertia-link
                :href="route('categorias.index')"
                class="nav-link d-block m-2"
                onclick="selectOptionMenu(this)"
                id="option-c"
              >
                <i class="far fa-clock"></i>
                Categorias
              </inertia-link>
            </li>
            <li class="nav-item">
              <inertia-link
                :href="route('productos.index')"
                class="nav-link d-block m-2"
                onclick="selectOptionMenu(this)"
                id="option-h"
              >
                <i class="far fa-list-alt"></i>
                Productos
              </inertia-link>
            </li>
          </ul>
        </div>
      </div>
      <!-- finaliza  panel lateral -->
      <!-- Inicia Navbar -->
      <div class="w-100">
        <nav class="navbar navbar-expand-lg border-bottom">
          <div class="w-100 cont-principal d-flex justify-content-between">
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <img
                  src="/img/user.jpg"
                  class="img-fluid rounded-circle mr-1"
                  style="height: 40px"
                />
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href=""
                    id="navbarDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                  <div class="font-medium text-base text-gray-800">{{ $page.user.name }}</div>
                  </a>
                  <div
                    class="dropdown-menu menuseccion"
                    aria-labelledby="navbarDropdown"
                  >
                    <!-- <div class="dropdown-divider"></div> -->
                    <a class="dropdown-item" href="#" @click.prevent="logout"
                      >Cerrar Sesión</a
                    >
                
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="container-fluid">
          <section>
            <!-- Page Content -->
            <slot></slot>
            <slot name="custom-slot"></slot>
            <!--End Page Content -->
          </section>
        </div>
        <!-- <div class="footer">
          <p>Copyright ©2020. Todos los derechos reservados.</p>
        </div> -->
      </div>
    </div>
    <!-- Finaliza dflex -->
  </div>
</template>
<script>
export default {
  methods: {
    logout() {
      axios.post(route("logout").url()).then((response) => {
        window.location = "/";
      });
    },
  },
};
</script>


